<header id="mainNav" class="navbar navbar-expand navbar-dark flex-column flex-md-row">
    <a class="navbar-brand mb-0 h1" [routerLink]="['']">
        <img [src]="logo" width="50" height="40" class="d-inline-block align-top" alt="logo"> Membership App |
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['login']">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['aboutUs']">About Us</a>
            </li>
        </ul>
    </div>
    <form class="navbar-form nav-right" role="search">
        <div class="input-group">
            <input type="text" class="form-control mr-1" placeholder="Search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">
                    <span class="fa fa-search"></span>
                </button>
            </span>
        </div>
    </form>
</header>
<div class="container-fluid">
    <div class="container" id="appContainer">
        <div class="row jusify-content-md-center">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <footer-section></footer-section>
</div>