<div *ngIf="member" class="member-container">
    <div>
        <a [routerLink]="['']">
            <h4>&#60;&#60;&#60;Back to home</h4>
        </a>
    </div>
    <h2>{{title}}</h2>
    <div class="tab-menu">
        <span class="selected">Edit</span>
        <span *ngIf="member.Id != 0" (click)="onMemberDetailView(member)">View</span>
    </div>
    <div class="member-details">
        <h2>{{member.LastName}}, {{member.FirstName}}</h2>
        <!-- <form class="member-detail-edit"> -->
        <div>
            <ul>
                <li>
                    <label>Family ID:</label>
                    <input [(ngModel)]="this.member.FamilyId" placeholder="Family ID" />
                </li>
                <li>
                    <label>First Name: &#09; </label>
                    <input [(ngModel)]="this.member.FirstName" placeholder="eg. John" />
                </li>
                <li>
                    <label>Middle Name:&#09; </label>
                    <input [(ngModel)]="this.member.MiddleName" placeholder="eg. J. or Johnson" />
                </li>
                <li>
                    <label>Last Name&#09;</label>
                    <input [(ngModel)]="this.member.LastName" placeholder="eg. Smith" />
                </li>
                <li>
                    <label>City&#09;</label>
                    <input [(ngModel)]="this.member.City" placeholder="City eg. Minneapolis" />
                </li>
                <li>
                    <label>State</label>
                    <input [(ngModel)]="this.member.State" placeholder="State eg. Minnesota" />
                </li>
                <li>
                    <label>Zip</label>
                    <input [(ngModel)]="this.member.Zip" placeholder="Zip eg. 55303" />
                </li>
            </ul>
            <!-- </form> -->
        </div>
        <div *ngIf="member.Id == 0" class="commands insert">
            <input type="button" value="Save" (click)="onInsert(member)" />
            <input type="button" value="Cancel" (click)="onBack()" />
        </div>

        <div *ngIf="member.Id != 0" class="commands update">
            <input type="button" value="Update" (click)="onUpdate(member)" />
            <input type="button" value="Delete" (click)="onDelete(member)" />
            <input type="button" value="Cancel" (click)="onMemberDetailView(member)" />
        </div>

    </div>
</div>