<div *ngIf="member">
    <div>
        <a (click) = "backToMembersList()" >
            <h4>&#60;&#60;&#60; Back to Members List</h4>
        </a>
    </div>
    <div class="member-container">
        <h2>{{title}}</h2>
        <ul class="nav nav-tabs">
            <li role="presentation">
                <a href="#" (click) = "onMemberDetailEdit(member)">Edit</a>
            </li>
            <li role="presentation" class="selected">
                <a href="#">View</a>
            </li>
        </ul>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="member-image-panel">
                    <img src="" alt="{{member.LastName}}">
                    <div class="caption">{{member.LastName}}'s image</div>
                </div>
                <h3>Family Unit ID: {{member.FamilyId}}</h3>
                <p>Full Name: {{member.LastName}}, {{member.FirstName}} {{member.MiddleName}}</p>
                <p>Email: {{member.Email}}</p>
                <p>Telepone: {{member.Telephone}} </p>
                <p>Date of Birth: {{member.DateOfBirth | date: 'MM/dd/yyyy'}}</p>
                <p>Gender: {{member.Gender}}</p>
                <p>Marital Status: {{member.MaritalStatus}}</p>
            </div>
            <div class="dates">
                <b>Date Modified:</b> {{member.LastModifiedDate | date:'MM/dd/yyyy'}} &#12;
                <b>Date Created:</b> {{member.CreatedDate | date:'MM/dd/yyyy'}}
            </div>
        </div>
    </div>
</div>