<div *ngIf="member">
    <div class="mbapp-nav-back" >
        <a (click) = "backToMembersList()" >
            &#60;&#60;&#60; Back to Members List
        </a>
    </div>
    <div class="member-container">
        <h2>{{title}}</h2>
        <ul class="nav nav-pills justify-content-end">
            <li role="presentation" class="nav-item selected">
                <a class="nav-link active">View</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" (click) = "onMemberDetailEdit(member)">Edit</a>
            </li>
        </ul>
        <div class="mbapp-panel mbapp-panel-default member-details">
            <div class="panel-body">
                <div class="member-image-panel">
                    <img src="../assets/img/3657.svg" alt="{{member.LastName}}">
                    <div class="caption">{{member.LastName}}'s image</div>
                </div>
                <h3>Family Unit ID: {{member.FamilyId}}</h3>
                <p>Full Name: {{member.LastName}}, {{member.FirstName}} {{member.MiddleName}}</p>
                <p>Email: {{member.Email}}</p>
                <p>Telepone: {{member.Telephone}} </p>
                <p>Date of Birth: {{member.DateOfBirth | date: 'MM/dd/yyyy'}}</p>
                <p>Gender: {{member.Gender}}</p>
                <p>Marital Status: {{member.MaritalStatus}}</p>
            </div>
            <div class="mbapp-dates">
                <b>Date Modified:</b> {{member.LastModifiedDate | date:'MM/dd/yyyy'}} &#12;
                <b>Date Created:</b> {{member.CreatedDate | date:'MM/dd/yyyy'}}
            </div>
        </div>
    </div>
</div>