@color-panel: #f9f9f9;

html body{
    height: 100%;
    min-width: 400px;
}

h1.header {
    font-size: 40px;
    margin: 5px 0 0 0;
    padding: 20px 20px 20px 120px;
    // background-color: #efefef;
    text-align: left;
}

h2 {
    margin: 5px;
    padding: 0;
    font-size: 1.4em;
    line-height: 1.4em;
    font-style: italic;
    color: #666666;
}

#appContainer {
    padding: 10px;
    opacity: 50%;
    margin-top: 50px;
}

#mainNav{
    background-color: #4e4e4e;
    color: #c7c7c7 !important;
    a{
        &.active{
            font-weight: bolder;
        }
    }
}

//Global styling
start {
    .dates{
        font-size: 12px;
        text-align: right;
    }
}


//home component styling
home {
    border: 0;
    margin: 0;
    padding: 0 20px;
    .hero-image{
        height: 50%;
        background-image: url("assets/img/building.jpg")
    }
}

//nav-bar.component styling
nav-bar {
    order: 0;
    margin: 2px;
    padding: 2px;
} 

.member-container, .family-container{
    margin: 0 20px;
    min-width: 300px;

    .nav.nav-tabs{
        padding-right: 20px;
        li{
            &.active a{
                font-weight: bold;
                background-color: @color-panel;
            }
            float: right;
        }
    }
    .mb-panel.mb-panel-default{
        background-color: @color-panel;
        border-top-width: 0;
        .member-image-panel{
            width: 170px;
            min-height: 170px;
            float: right;
            padding: 10px;
            background-color: #f2f2f2;
            border: 1px solid #cccccc;
            img{
                width: 150px;
                height: 150px;
                border: 1px solid #e6e6e6;
            }
            .caption{
                margin-top: 5px;
                text-align: center;
                font-size: 0.8em;
            }
        }
        h3{
            margin: 10px 0 20px 0;
            font-weight: bold;
        }
    }
}

//member-list component styling
members-list, family-list{
    ul{
        list-style-type: none;
        padding: 15px;
        li{
            cursor: pointer;
            margin-top: 20px;
            padding-top: 15px;
            border-top: 1px solid #c7c7c7;
            &:first-child {
                margin-top: 0;
                padding-top: 0;
                border-top-width: 0;
            }
        }
    }
    ul.list li.selected {
            background-color: #4e4e4e;
            color: #efefef;
    }
}

family-detail-view, family-list{
    .address-left-div{
        float: left;
        width: 75px;
        height: 110px;
        margin-right: 10px;
        padding-left: 10px;
        padding-top: 5px;
        background-color: yellowgreen;
    }
    .address-right-div{
        margin-left: 75px;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 110px;
        background-color: #93e2fa;
        color: #4e4e4e;
    }
}
family-detail-edit, family-detail-view{
    .family-container{
        width: 600px;
    }  
    .family-details{
        margin: 0;
        padding: 5px 10px;
        background-color: #eeeeee;
        width: 600px;
        clear: both;
    }
    .family-details * {
        vertical-align: middle;
    }
    .family-details .mode{
        color: #777777;
    }
    .family-details ul li {
        padding: 5px 0;
    } 
    .family-details input[type="text"]{
        display: block;
        width: 90%;
    }
    .commands {
        text-align: right;
        margin: 10px 20px 10px 10px;
    }

}

member-detail-edit, member-detail-view{
    .member-container{
        width: 600px;
    }  
    .member-details{
        margin: 0;
        padding: 5px 10px;
        background-color: #eeeeee;
        width: 600px;
        clear: both;
    }
    .member-details * {
        vertical-align: middle;
    }
    .member-details .mode{
        color: #777777;
    }
    .member-details ul li {
        padding: 5px 0;
    } 
    .member-details input[type="text"]{
        display: block;
        width: 90%;
    }
    ul{
        list-style-type: none;
        padding: 15px;
    }
    .commands {
        text-align: right;
        margin: 10px 20px 10px 10px;
    }
}

family-detail-edit, family-detail-view, 
{
    .commands {
        text-align: right;
        margin: 10px 20px 10px 10px;
    }
    ul{
        list-style-type: none;
    }
}

//Form styling for member and family detail-edit

form.member-detail-edit, form.family-detail-edit{
    .empty-field{
        color: #f04124;
    }

    .form-group{
        label{
            font-size: 14px;
            font-weight: bold;
            display: block;
            background-color: #eaeaea;
            line-height: 1.4em;
            padding: 5px 10px;
        }
    }
    .commands {
        text-align: right;
        input[type="button"] {
            margin-left: 5px;
        }
    }
}