<div>
    <div class="mbapp-nav-back">
        <a (click)="backToHome()">
            &#60;&#60;&#60; Back to Homepage
        </a>
    </div>
    <div class="member-container">
        <h2>{{title}}</h2>
        <div class="mbapp-panel mbapp-panel-default">
            <ul class="list">
                <hr/>
                <li *ngFor="let member of members" [class.selected]="member === selectedMember" (click)="onSelect(member)">
                    <span>{{member.LastName}}, {{member.FirstName}}</span>
                    <hr/>
                </li>
            </ul>
        </div>
    </div>
</div>