<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand"> Angular App</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a class="home" [routerLink] = "['']">Home</a></li>
                <li><a class="login" [routerLink] = "['login']">Login</a></li>
                <li><a class = "add" [routerLink] = "['family/add', 0]">Add Family Unit</a></li>
            </ul>
        </div>
    </div>
</div>