<div>
    <h2>Family List</h2>
    <ol class="list">
        <hr/>
        <li *ngFor="let family of families" [class.selected]="family === selectedFamily" (click)="onSelect(family)">
            <div *ngIf="family.AptNumber != null; else displayWithoutAptNumber">
                <div>
                    Family Name: {{family.FamilyName}}
                    <br/>Family Id: {{family.Id}}
                </div>
                <div class="left-div">Address: </div>
                <div class="right-div">
                    {{family.House}}, {{family.Street}}
                <br/>{{family.City}}, {{family.State}}
                <br/>{{family.Zip}}.
                <br/>Apt #: {{family.AptNumber}}
                </div>
                
            </div>

            <ng-template #displayWithoutAptNumber>
                <div>Family Name: {{family.FamilyName}}</div>
                <div class="left-div">Address: </div>
                <div class="right-div"> 
                    {{family.House}}, {{family.Street}}
                <br/>{{family.City}}, {{family.State}}
                <br/>{{family.Zip}}.
                </div>
            </ng-template>
            <div class="dates">
                <b>Date Modified:</b> {{family.LastModifiedDate | date:'MM/dd/yyyy'}} &#12; <b>Date Created:</b> {{family.CreatedDate | date:'MM/dd/yyyy'}} 
            </div>
            <hr/>
        </li>
    </ol>
</div>