<div *ngIf="family">
    <div class="mbapp-nav-back">
        <a (click)="backToFamiliesList()">
            &#60;&#60;&#60; Back to Families List
        </a>
    </div>
    <div class="family-container">
        <h2>{{title}}</h2>
        <ul class="nav nav-pills justify-content-end">
            <li role="presentation" class="nav-item selected">
                <a class="nav-link active">View</a>
            </li>
            <li role="presentation" class="nav-item">
                <a class="nav-link" (click) = "onFamilyDetailEdit(family)">Edit</a>
            </li>
        </ul>
        <div class="mbapp-panel mbapp-panel-default family-details">
            <div class="mbapp-panel-body">
                <div>
                    <h4>Family Name: {{family.FamilyName}}</h4>
                    <h4>Family Id: {{family.Id}}</h4>
                </div>
                <div class="address-left-div">Address: </div>
                <div class="address-right-div">
                    {{family.House}}, {{family.Street}}
                    <br/>{{family.City}}, {{family.State}}
                    <br/>{{family.Zip}}.
                    <div *ngIf="family.AptNumber != null" >Apt #: {{family.AptNumber}}</div>
                </div>
                <div class="mbapp-dates">
                    <b>Date Modified:</b> {{family.LastModifiedDate | date:'MM/dd/yyyy'}} &#12;
                    <b>Date Created:</b> {{family.CreatedDate | date:'MM/dd/yyyy'}}
                </div>
            </div>
        </div>
    </div>
</div>
