<div>
    <h2>{{title}}</h2>
    <ul class="list">
        <hr/>
        <li *ngFor="let family of families" [class.selected]="family === selectedFamily" (click)="onSelect(family)">
            <div *ngIf="family.AptNumber != null; else displayWithoutAptNumber">
                <div>
                    Family Name: {{family.FamilyName}}
                    <br/>Family Id: {{family.Id}}
                </div>
                <div class="address-left-div">Address: </div>
                <div class="address-right-div">
                    {{family.House}}, {{family.Street}}
                <br/>{{family.City}}, {{family.State}}
                <br/>{{family.Zip}}.
                <br/>Apt #: {{family.AptNumber}}
                </div>
                
            </div>

            <ng-template #displayWithoutAptNumber>
                <div>
                    Family Name: {{family.FamilyName}}
                    <br/>Family Id: {{family.Id}}
                </div>
                <div class="address-left-div">Address: </div>
                <div class="address-right-div"> 
                    {{family.House}}, {{family.Street}}
                <br/>{{family.City}}, {{family.State}}
                <br/>{{family.Zip}}.
                </div>
            </ng-template>
            <div class="dates">
                <b>Date Modified:</b> {{family.LastModifiedDate | date:'MM/dd/yyyy'}} &#12; <b>Date Created:</b> {{family.CreatedDate | date:'MM/dd/yyyy'}} 
            </div>
            <hr/>
        </li>
    </ul>
</div>