<div class="container-fluid main-home-div">
    <div class="jumbotron hero-image">
        <div class="container">
            <h1 class="display-6">{{title}}</h1>
            <p class="lead">Welcome to the Membership App.</p>
            <hr class="my-4">
        </div>
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-6">
                    <div class="card text-center mb-card mb-card-opacity">
                        <div class="card-header mb-card-header">Families List</div>
                        <div class="card-body">
                            <p class="card-text">A list of families in this organization. Ordered by last modified.</p>
                            <a class="mb-button btn btn-md btn-primary text-light" (click)="goToFamilyList()" >Families List</a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card text-center mb-card mb-card-opacity">
                        <div class="card-header mb-card-header">Members List</div>
                        <div class="card-body">
                            <p class="card-text">A list of members in the organization. Listed by alphabetical order.</p>
                            <a class="mb-button btn btn-md btn-primary text-light" (click)="goToMembersList()">Members List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
